.estiloLoginCenter {
  text-align: center;
  margin-top: 0;
  padding-top: 95px;
}

.estilo {
  text-align: center;
  margin-top: 0;
  padding-top: 225px;
}

.estiloSignUp {
  text-align: center;
  margin-top: 0;
  padding-top: 60px;
}

.estiloButtonSignUp {
  background-color: #e5ded0;
  border-radius: 8px;
  color: rgb(0, 0, 0);
  padding: 6px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.estiloButtonLogin {
  background-color: #e7e3d2;
  border-radius: 8px;
  color: rgb(0, 0, 0);
  padding: 6px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.estiloButtonNotFound {
  background-color: #ffffff;
  border-radius: 8px;
  color: rgb(0, 0, 0);
  padding: 6px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.estiloButtonHome {
  background-color: #ffffff;
  border-radius: 8px;
  color: rgb(0, 0, 0);
  padding: 6px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 45px 2px;
  cursor: pointer;
}


.estiloTituloLogin {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: wheat;
  font-size: 40px;
  -webkit-text-stroke: 1.2px black;
  height: 5vh;
  text-align: center;
  margin-top: 0;
  padding-top: 15px;
}

.estiloTitulo {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: wheat;
  font-size: xx-large;
  height: 7vh;
  -webkit-text-stroke: 1px black;
  text-align: center;
  margin-top: 0;
  padding-top: 15px;
}

.estiloLettersButton {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: wheat;
  font-size: xx-large;
  height: 7vh;
  text-align: center;
  margin-top: 0;
  padding-top: 15px;
}

.estiloTituloSignUp {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(241, 232, 213);
  font-size: 40px;
  -webkit-text-stroke: 1px black;
  height: 7vh;
  text-align: center;
  margin-top: 0;
  padding-top: 40px;
}

.estiloSubTitulo {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: wheat;
  font-size: 27px;
  height: 6vh;
  text-align: center;
  margin-top: 0;
  padding-top: 10px;
}

.estiloLogin {
  align-items: center;
  height: 6vh;
}

.estiloSignUpPlaceholder {
  align-items: center;
  height: 6vh;
}

.estiloInput {
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 6px;
}

.estiloInputDate {
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 6px;
  width: 320px;
}

.estiloSignUpPlaceButtons {
  align-items: center;
  height: 4vh;
  margin-top: 3vh;
}

.estiloMensagem {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 29px;
  font-style: italic;
  -webkit-text-stroke: 1px black;
  color: whitesmoke;
  position: center;
  margin-bottom: 0;
  margin-top: 3vh;

}

.estiloMensagemHome {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 27px;
  font-style: italic;
  color: whitesmoke;
  position: center;
  margin-bottom: 0;
  margin-top: 3vh;

}

.background-component {
  background-image: url("https://i.pinimg.com/originals/be/e0/b4/bee0b41561164c5cf6318c0be184b195.jpg");

  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-component-NotFound {
  background-image: url("https://returntomoria.com/img/HOME_BACKGROUND.png");

  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-component-SignUp {
  background-image: url("https://thepixelpost.com/content/images/wordpress/2022/05/seigneur-des-anneaux-jeu-mobile.jpg");

  height: 100%;
  opacity: 0.90;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-component-Home {
  background-image: url("https://wallpaperset.com/w/full/5/8/9/153757.jpg");

  height: 100%;
  opacity: 0.95;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}